<!DOCTYPE html>
<html>

<head>
    <title>Static webpage flask!</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/index.js" async></script>
</head>

<body>
    <h1>Hello, World!</h1>
    <h4 id='date'></h4>

    <div class="image-section">
        <div class="section-style">
            <img src="../static/image1.jpg" alt="" />
            <p>Random image 1</p>
        </div>

        <div class="section-style">
            <img src="../static/image2.png" alt="" />
            <p>Random image 2</p>
        </div>
    </div>
    <div>
        <a href="/static"><button>Click here 😁</button></a>
    </div>
</body>

</html>